/* Styling the hero container */

.hero-container {
  position: relative;
  background-color: rgba(155, 148, 44, 0.8); 
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  overflow: hidden; 
}

/* Styling the content container */
.content-container {
  background-color: #cd8d5a;
  padding: 20px;
  overflow: hidden;
  text-align: center; 
}

/* Styling the content content */
.content-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Styling the image container */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the images horizontally */
  margin-top: 20px;
}

/* Styling individual images with warm frame effect */
.image-container img {
  width: calc(48% - 20px);
  margin: 0 10px 20px 10px; 
  border-radius: 12px;
  border-color: #602a13;
  border-style: solid;
}

/* Styling all buttons */
button {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #bb7621;
  color: #602a13;
  border: none;
  border-radius: 20px; /* Adjust the value to make it more or less round */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for all buttons */
button:hover {
  background-color: #cc2b12;
  color: #fff;
}

/* Style the accordion panel */

.accordion-btn {
  background-color: #dbd56e;
  color: #403d58; 
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-btn.active, .accordion-btn:hover {
  background-color: #cd8d5a; 
  color: #fff; 
}

.accordion-panel {
  padding: 0 18px;
  background-color: #dbd56e; 
  display: none;
  overflow: hidden;
}

.accordion-panel p {
  color: #403d58;
}
